:root {
  /* LIGHT MODE */
  --bg-color: #ffffff;
  --text-color: #1f2937;
  --primary-color: #2563eb;
  --nav-bg: #ffffff;
  --card-bg: #f9fafb;
  --border-color: #e5e7eb;

  --transition: all 0.3s ease;
}

[data-theme="dark"] {
  --bg-color: #0f172a;
  --text-color: #e5e7eb;
  --primary-color: #38bdf8;
  --nav-bg: #020617;
  --card-bg: #020617;
  --border-color: #1e293b;
}

/* Global effect */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}
