:root {
  /* ===============================
     COLOR SYSTEM (LIGHT MODE)
  =============================== */
  --primary: #38bdf8;
  --secondary: #34d399;

  --dark: #0f172a;
  --light: #f8fafc;
  --gray: #94a3b8;
  --white: #ffffff;
  --nav-bg: rgba(255, 255, 255, 0.9);
  --card-bg: #ffffff;
  --border-color: #e5e7eb;

  /* EFFECT */
  --transition: all 0.3s ease;
}

/* ===============================
   DARK MODE
================================ */
[data-theme="dark"] {
  --primary: #38bdf8;
  --secondary: #34d399;

  --dark: #e5e7eb;
  --light: #020617;
  --gray: #94a3b8;
  --white: #020617;

  --nav-bg: rgba(2, 6, 23, 0.9);
  --card-bg: #020617;
  --border-color: #1e293b;
}

/* ===============================
   GLOBAL BASE
================================ */
body {
  background-color: var(--light);
  color: var(--dark);
  transition: var(--transition);
}
